*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    justify-self: center;
    width: 60%;
}
.container{
    padding: 10px;
    background-color: white;
    box-shadow: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.contact{
    margin: 10px;
    padding: 10px;
}
.contact p{
    padding: 10px;
}
header{
    margin-bottom: 40px;
}
h1{
    font-size: 1.5em;
    margin: 15px;
}
h2{
    border-bottom: 2.1px solid white;
    padding-bottom: 20px;
}
.job{
    margin: 20px;
}
.job-title{
    text-transform: bold;
}
.job-date{
    color: #666;
    font-style: italic;
}
ol{
    padding: 20px;
}
.skills-list{
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
    padding-left: 0;
}
ol li{
    padding: 7px;
    background-color: rgb(96, 132, 198);
    border-radius: 90px;
    margin: 2px;
}
.skills{
    padding: 20px;
}
.right-column{
    grid-column: span 2;
    margin-left: 50px;
}
.left-column{
    margin: 0;
    background-color: rgb(14, 40, 77, 0.911);
    color: white;
}
img{
    margin-top: 15px;
    border-radius: 70px;
    height: 120px;
    width: 120px;
    padding-bottom: 0;
    padding: 20px;
}
.right-column h2{
    color: rgb(14, 40, 77, 0.911);
    border-bottom: 2px solid skyblue;
}
.header{
    grid-column: span 4; 
    grid-row: span 3;
    background-color: rgba(10, 31, 62, 0.911);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.name{
    justify-self: end;
}
.coder{
    padding-right: 90px;
}
.languages{
    margin: 10px;
    padding: 10px;
}
.languages p{
    padding: 10px;
}
@media(max-width: 768px){
    body{
        width: 100%;
    }
    .container{
        grid-template-columns: 1fr;
    }

    .header{
        grid-column: span 1;
        flex-direction: column;
    }

    .right-column{
        grid-column: span 1;
        margin: 0;
    }
}